body {
    background-image: url(./images/wallpaper2.jpg);
}

.index h1 {
    display: flex;
    justify-content: center;
    font-family: cursive;

}

.myPokemons {
    display: flex;
    justify-content: center;
}


.main {
    display: flex;
    justify-content: center;
    
}


.where {
    display: flex;
    justify-content: center;
}

.pokedex {
    display: flex;
    justify-content: center;
}